.card {
  padding: 20px;
  margin-top: 20px;
  border: $borderWidth solid $borderColor;
  background-image: resolve('logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $colorBlack;
  background-size: 50%;
  background-position: 90% 20%;
  width: 500px;
  
  h2 {
    color: #3b5998;
  }
  p {
    color: $colorWhite;
  }
}